.button {
    background: $green;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: $f-large;
    line-height: 1;
    padding: $s-size $m-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}